@model WebApplication2.Models.UserLoginVM
@{
    ViewBag.Title = "EditStudent";
}

<div class="container">
    <!-- İçeriği ekranın ortasına hizalar -->
    <div class="row justify-content-center align-items-center" style="min-height: 85vh;">
        <div class="col-md-5 col-lg-4">
            <div class="card shadow border-0 rounded-3">
                <div class="card-header bg-dark text-white text-center py-3">
                    <h5 class="mb-0 fw-bold">Öğrenci Düzenleme Paneli</h5>
                </div>
                <div class="card-body p-4">
                    @using (Html.BeginForm("EditStudent", "Admin", FormMethod.Post))

                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.StudentId)

                        <div class="mb-3">
                            @Html.LabelFor(x => x.FirstName, "Öğrenci Adı")
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(x => x.LastName, "Öğrenci Soyadı")
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(x => x.StudentNo, "Öğrenci No")
                            @Html.TextBoxFor(x => x.StudentNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.StudentNo, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(x => x.Email, "Öğrenci E-mail")
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                        </div>



                        <!-- Kayıt Butonu -->
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-dark btn-lg fw-bold shadow-sm py-2 fs-6">Düzenlemeyi Tamamla</button>
                        </div>


                     }
                </div>
            </div>

        </div>
    </div>
</div>
