@model WebApplication2.Models.Students
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "LoginUser";
}



<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">

    <div style="width: 100%; max-width: 400px; padding: 20px; border: 1px solid #ddd; border-radius: 10px; background-color: #f9f9f9;">

        <h2 class="text-center">Öğrenci Girişi</h2>

        @using (Html.BeginForm("LoginUser", "Home", FormMethod.Post))
        {
            if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            }

            @Html.AntiForgeryToken()

            <div class="form-vertical justify-content-center text-center ">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group mb-3 d-flex flex-column align-items-center">
                    @Html.LabelFor(m => m.FirstName, "Öğrenci Adı", new { @class = "control-label d-block text-center" })
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control d-block text-center" })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>


                <div class="form-group mb-3 d-flex flex-column align-items-center">
                    @Html.LabelFor(m => m.Password, "Öğrenci Şifresi", new { @class = "control-label d-block text-center" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control d-block text-center" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger text-center" style="margin-top: 15px; padding: 10px; border-radius: 5px;">
                        @ViewBag.Error
                    </div>
                }

                <div class="form-group d-flex flex-column align-items-center " style="margin-top:20px;">
                    <button type="submit" class="btn btn-primary">Giriş Yap</button>
                </div>
            </div>
         }
    </div>
</div>

